@model HairSalon.Models.Stylist
@using HairSalon.Models

<div id="stylistRow">
    @{
        string url = @Model.ImageUrl;

        if (string.IsNullOrEmpty(url))
        {
            url = "/assets/images/placeholder.png";
        }
    }
    <img id="stylistImage" src="@url" alt="stylist" />
    <div id="stylistDetails">
        <h1>@Model.Name</h1>
        <h4 id="stylistSkills"><em>@Model.Skills</em></h4>
        <div class="cardIcons">
            <a href="/stylists/edit/@Model.StylistId">
                <img class="icon" src="~/assets/images/editIcon.png" alt="edit icon" />
            </a>
            <a href="/stylists/delete/@Model.StylistId">
                <img class="icon" src="~/assets/images/deleteIcon.png" alt="delete icon" />
            </a>
        </div>
    </div>
</div>

<hr />
<div class="list">
    @if (@Model.Clients.Count == 0)
    {
        <h3>No clients have been added to this stylist yet!</h3>
        <a href="/clients/create/">
            <img class="icon" src="~/assets/images/addIcon.png" alt="add icon" />
        </a>
    }
    else
    {
        <div id="clientsRow">
            <h2>Clients</h2>
            <a href="/clients/create/">
                <img class="icon" src="~/assets/images/addIcon.png" alt="add icon" />
            </a>
        </div>
        <form asp-controller="Stylists" asp-action="Details">
            <input type="hidden" name="stylistId" value="@ViewBag.StylistId" />
            <p>
                <input type="text" name="SearchString" placeholder="search" value="@ViewBag.SearchString" />
                <input type="submit" value="Filter" />
            </p>
        </form>
        @foreach (Client client in Model.Clients)
        {
            <h4>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</h4>
        }
    }
</div>
