@model HairSalon.Models.Stylist
@using HairSalon.Models

<h1>Stylist Details</h1>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<form asp-controller="Stylists" asp-action="Details">
    <input type="hidden" name="stylistId" value="@ViewBag.StylistId" />
    <p>
        <input type="text" name="SearchString" placeholder="search" value="@ViewBag.SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

@if (@Model.Clients.Count == 0)
{
    <h3>No clients have been added to this stylist yet!</h3>
}
else
{
    <h3>Clients:</h3>
    <ul>
    @foreach (Client client in Model.Clients)
        {
            <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</li>
        }
    </ul>
}
<a href="/clients/create/">
    <img src="~/assets/images/addIcon.png" alt="add icon" />
</a>
<a href="/stylists/edit/@Model.StylistId">
    <img src="~/assets/images/edit.svg" alt="edit icon" />
</a>
<a href="/stylists/delete/@Model.StylistId">
    <img src="~/assets/images/deleteIcon.svg" alt="delete icon" />
</a>