@model HairSalon.Models.Client

<body>
    <div id="clientCard">
        @{
            string url = @Model.ImageUrl;

            if (string.IsNullOrEmpty(url))
            {
                url = "/assets/images/placeholder.png";
            }
        }
        <div>
            <img id="clientImage" src="@url" alt="client" />
        </div>
        <div id="clientDetails">
            <h2>@Model.Name</h2>
            <h4>Stylist: @Model.Stylist.Name</h4>
            <h4><em>@Model.Notes</em></h4>
            <div id="clientIcons">
                <a href="/clients/edit/@Model.ClientId">
                    <img class="icon" src="~/assets/images/editIcon.png" alt="edit icon" />
                </a>
                <a href="/clients/delete/@Model.ClientId">
                    <img class="icon" src="~/assets/images/deleteIcon.png" alt="delete icon" />
                </a>
            </div>
        </div>
    </div>
</body>